#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

h2 {
	font-size: 2em;
}

input {
	font-size: inherit;
	font-weight: inherit;
	border: 0;
	border-bottom: 2px solid;
	background: none;
	text-align: center;
}

.text-gradient {
	background: rgb(11, 240, 195);
	background: linear-gradient(
		90deg,
		rgba(11, 240, 195, 1) 0%,
		rgba(10, 201, 232, 1) 50%,
		rgba(0, 146, 255, 1) 100%
	);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
}
